[submodule "tmux/dot-tmux/plugins/tpm"]
	path = tmux/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "edoom/dot-emacs.d"]
	path = edoom/dot-emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "vimspace/dot-SpaceVim"]
	path = vimspace/dot-SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "spacemacs/dot-emacs.d"]
	path = spacemacs/dot-emacs.d
	url = https://github.com/syl20bnr/spacemacs
