vim/dot-vim/plugged/**
tmux/dot-tmux/plugins/**
emacs/dot-emacs.d/straight/**
emacs/dot-emacs.d/transient/**
emacs/dot-emacs.d/auto-save-list/**
emacs/dot-emacs.d/eshell/**
vim/dot-vim/autoload/plug.vim.old
**/*~
**/.*~
**/#*#
**/.#*#
**/.netrwhist
**/.uuid
